{% extends "inc/base.html" %} 

{% block content %}
<div class="mb-4">
  <div class="left-top">
    <h2 class="header-title current-title">Settings:&nbsp</h2>
    <h2 class="header-title">{{ user.username }}</h2>
  </div>
  <hr />
</div>
<div class="left-main">
  <form action="{% url "settings" %}" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.username.id_for_label }}">
        <h2 class="generic-text">Login:</h2>
      </label>
      <input
        type="login"
        class="form-control"
        id="{{ form.username.id_for_label }}"
        name="{{ form.username.name }}"
        aria-describedby="LoginHelp"
      />
    </div>
    <div class="form-group">
      <label for="{{ form.email.id_for_label }}">
        <h2 class="generic-text">Email:</h2>
      </label>
      <input
        type="email"
        class="form-control"
        id="{{ form.email.id_for_label }}"
        name="{{ form.email.name }}"
        aria-describedby="EmailHelp"
      />
    </div>
    {% comment %} <div class="form-group">
      <label for="InputNickname1">
        <h2 class="generic-text">Nickname:</h2>
      </label>
      <input
        type="nickname"
        class="form-control"
        id="InputNickname1"
        aria-describedby="NicknameHelp"
      />
    </div> {% endcomment %}
    <div class="form-group upload-block">
      <h2 class="generic-text me-2">Avatar:</h2>
      <label for="{{ form.avatar.id_for_label }}">Upload file</label>
      <input
        class="input-upload"
        type="file"
        id="{{ form.avatar.id_for_label }}"
        name="avatar"
      />
    </div>
    <div class="form-bottom">
      <button type="submit" class="btn btn-success">
        Save
      </button>
    </div>
  </form>
</div>
{% endblock content %}