{% extends "inc/base.html" %} 

{% block content %}
<div class="mb-4">
  <div class="left-top">
    <h2 class="header-title current-title">Settings:&nbsp</h2>
    <h2 class="header-title">Luke Skywalker</h2>
  </div>
  <hr />
</div>
<div class="left-main">
  <form>
    <div class="form-group">
      <label for="InputLogIn1">
        <h2 class="generic-text">Login:</h2>
      </label>
      <input
        type="login"
        class="form-control"
        id="InputLogIn1"
        aria-describedby="LoginHelp"
      />
    </div>
    <div class="form-group">
      <label for="InputEmail1">
        <h2 class="generic-text">Email:</h2>
      </label>
      <input
        type="email"
        class="form-control"
        id="InputEmail1"
        aria-describedby="EmailHelp"
      />
    </div>
    <div class="form-group">
      <label for="InputNickname1">
        <h2 class="generic-text">Nickname:</h2>
      </label>
      <input
        type="nickname"
        class="form-control"
        id="InputNickname1"
        aria-describedby="NicknameHelp"
      />
    </div>
    <div class="form-group upload-block">
      <h2 class="generic-text me-2">Avatar:</h2>
      <label for="fileUpload">Upload file</label>
      <input
        class="input-upload"
        type="file"
        id="fileUpload"
        name="fileUpload"
      />
    </div>
    <div class="form-bottom">
      <button type="submit-new-question" class="btn btn-success">
        Save
      </button>
    </div>
  </form>
</div>
{% endblock content %}