{% extends "inc/base.html" %} 

{% block content %}
<div class="mb-4">
  <div class="left-top">
    <h2 class="header-title current-title">New Question</h2>
  </div>
  <hr />
</div>
<div class="left-main">
  <form action={% url "ask" %} method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="{{ form.title.id_for_label }}">
        <h2 class="generic-text"> Title: </h2>
      </label>
      <input type="text" id="{{ form.title.id_for_label }}" name="{{ form.title.name }}" class="form-control">
      {% if form.title.errors %}
          <div class="error-message login-error mb-2">
              {{ form.title.errors.0 }}
          </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{ form.text.id_for_label }}">
        <h2 class="generic-text"> Text: </h2>
      </label>
      <textarea
        class="form-control"
        id="{{ form.text.id_for_label }}"
        name="{{ form.text.name }}"
        rows="5"
      ></textarea>
      {% if form.text.errors %}
          <div class="error-message login-error mb-2">
              {{ form.text.errors.0 }}
          </div>
      {% endif %}
    </div>
    <div class="form-group">
      <label for="{{ form.tags.id_for_label }}">
        <h2 class="generic-text"> Tags: </h2>
      </label>
      <input type="text" id="{{ form.tags.id_for_label }}" name="{{ form.tags.name }}" class="form-control" placeholder="Enter tags separated by a space">
      {% if form.tags.errors %}
          <div class="error-message login-error mb-2">
              {{ form.tags.errors.0 }}
          </div>
      {% endif %}
    </div>

    <button type="submit" class="btn btn-success">
      Submit
    </button>
  </form>
</div>
{% endblock content %}

