<article class="card answer-card" data-answer-id="{{ answer.id }}">
    <a href="#" class="person mb-2">
      <img
        {% if answer.author %}
          src=" {{ answer.author.avatar.url }} ",
        {% else %}
          src="../../media/no_photo.jpeg",
        {% endif %}
        alt=""
        class="image-avatar rounded-image"
      />
      <div class="name-item"> {{ answer.author.user.username }} </div>
    </a>
    <div class="card-text"> {{ answer.text }} </div>
    <div class="bottom">
      <div class="bottom-left">
        <div class="form-check">
          <input
            class="form-check-input bg-success"
            data-question-id="{{ question.id }}"
            data-answer-id="{{ answer.id }}"
            type="checkbox"
            value=""
            id="RightAnswer1"
            {% if answer.correct %}
              checked
            {% endif %}
          />
          <label class="form-check-label" data-right-answer="{{ answer.id }}" for="RightAnswer1">
            Right Answer
          </label>
        </div>
      </div>
      <div class="bottom-right">
        <div>
          <span class="like-counter">
            {{ answer.like_count }}
          </span>
        </div>
        <button type="button" class="like-button">
          <div class="icon like">
            <svg viewBox="0 0 512 512" style="color:currentColor" xmlns="http://www.w3.org/2000/svg" class="h-full w-full"><svg width="280px" height="280px" viewBox="-1 0 18 16" fill="currentColor" x="128" y="128" role="img" style="display:inline-block;vertical-align:middle" xmlns="http://www.w3.org/2000/svg"><g fill="currentColor"><path fill="currentColor" fill-rule="evenodd" d="M8 1.314C12.438-3.248 23.534 4.735 8 15C-7.534 4.736 3.562-3.248 8 1.314z"/></g></svg></svg>
          </div>
        </button>
      </div>
    </div>
    <hr />
  </article>