{% extends "inc/base.html" %} 

{% block content %}
<div class="mb-4">
  <div class="left-top">
    <h2 class="header-title current-title">New Question</h2>
  </div>
  <hr />
</div>
<div class="left-main">
  <form>
    <div class="form-group">
      <label for="InputTitle1">
        <h2 class="generic-text">Title:</h2>
      </label>
      <input
        type="title"
        class="form-control"
        id="InputTitle1"
        aria-describedby="TitleHelp"
      />
    </div>
    <div class="form-group">
      <label for="InputText1"
        ><h2 class="generic-text">Text:</h2></label
      >
      <textarea
        class="form-control"
        id="InputText1"
        rows="5"
      ></textarea>
    </div>
    <div class="form-group">
      <label for="InputTags1">
        <h2 class="generic-text">Tags:</h2>
      </label>
      <input
        type="tags"
        class="form-control"
        id="InputTags1"
        aria-describedby="TagsHelp"
        placeholder="Enter tags separated by a space"
      />
    </div>

    <button type="submit-new-question" class="btn btn-success">
      Submit
    </button>
  </form>
</div>
{% endblock content %}

