<article class="card">
    <a href="#" class="person">
      <img
        src= "{{ question.img_address }}",
        alt=""
        class="image-avatar rounded-image"
      />
      <div class="name-item"> {{ question.author }} </div>
    </a>
    <h2>
      <a href="{% url "question" question.id %}" class="card__title">

        {{ question.title }}

      </a>
    </h2>
    <div class="card-text">

        {{ question.text }} 

    </div>
    <div class="bottom">
      <div class="bottom-left">
        <a href="{% url "question" question.id %}" class="grey-link link-border me-2">
          Answers({{ question.answers_count }})
        </a>
        <span class="tags-item">Tags: </span>
        <div class="tags-item">

          {% for tag_name in question.tags %}
            <a href="{% url "tag" tag_name %}" class="grey-link">{{tag_name}}</a>
          {% endfor %}

        </div>
      </div>
      <div class="bottom-right">
        <button type="button" class="btn btn-outline-dark like">

          {{ question.like_count }}

        </button>
      </div>
    </div>
    <hr />
  </article>