@media screen and (min-width: 1441px) {
    body {
        font-size: 19px
    }
}

@media screen and (max-width: 991px) {
    body {
        font-size: 10px
    }
}

.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    margin-bottom: 1rem;
    height: 4em
}

.navbar .navbar-right {
    padding-right: 7%
}

.navbar .navbar-brand {
    margin-left: 10%;
    font-size: 2.2rem;
    color: #fff
}

.navbar .nav-link {
    color: #fff !important;
    text-decoration: underline
}

.navbar .form-control {
    width: 25rem;
    border: none
}

.navbar .btn {
    background-color: #333
}

.navbar .btn:hover {
    background-color: green
}

.link-border {
    border-radius: 1.5rem;
    padding: .5rem .7rem;
    color: #000;
    text-decoration: none;
    background-color: #f0f0f0;
    display: inline-block
}

.link-border:hover {
    background-color: #fff
}

.ask-link {
    background-color: #07890c;
    color: #fff;
    border: 1px solid #07890c
}

.ask-link:hover {
    background-color: #333;
    color: #07890c
}

.round-border {
    border-radius: 1.5rem
}

.main {
    margin-left: 10%;
    display: flex;
    justify-content: space-between
}

.left-side {
    width: 57%
}

.left-side .left-top {
    display: flex;
    flex-direction: row
}

.left-side .left-top .top-title {
    font-weight: lighter
}

.left-side .left-top .top-title:hover {
    font-weight: normal
}

.left-side .left-top__btn {
    border: none;
    background: none;
    padding: 0;
    margin: 0 2rem 0 0
}

.left-side .left-top .current-title {
    font-weight: normal
}

.rounded-image {
    border-radius: 50%
}

.left-main {
    max-width: 80%
}

.left-main .form-group {
    margin-bottom: 1rem
}

.card {
    border: none;
    margin-bottom: 1.5rem
}

.card__title {
    color: #000
}

.card .card-text {
    max-height: 4.5em;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    margin-bottom: 1rem
}

.card .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.card .bottom .bottom-left {
    display: flex;
    align-items: center
}

.card .bottom .bottom-left .tags-item {
    margin-right: .3rem
}

.card .bottom .bottom-right {
    padding-right: 1rem
}

.card .bottom .bottom-right .like {
    border-color: #333
}

.card .bottom .bottom-right .like:hover {
    background-color: #333
}

.person {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: #292929
}

.person .image-avatar {
    object-fit: cover;
    width: 2rem;
    height: 2rem;
    margin-right: .5rem
}

.grey-link {
    color: #757575;
    text-decoration: underline
}

.page-link {
    color: #000;
    font-size: 1.1rem
}

.right-side {
    margin-right: 7%;
    width: 25%;
    border-left: 1px solid #f2f2f2
}

.right-side .popular-tags {
    padding-top: .6rem;
    margin-bottom: 3.2rem
}

.right-side .popular-tags .tags {
    padding-left: 10%;
    padding-right: 10%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(6.25rem, 1fr));
    grid-gap: .6rem;
    white-space: nowrap
}

.right-side .popular-tags .tags__link {
    text-decoration: none;
    color: #292929
}

.right-title {
    margin-bottom: 1.9rem;
    text-align: center
}

.member-block {
    padding-left: 10%;
    margin-bottom: 1.25rem
}

.form-group {
    margin-bottom: 2rem !important
}

.form-group .text-form {
    min-height: 10rem
}

.generic-text {
    font-size: 1.5rem
}

form a {
    text-decoration: underline
}

form .btn {
    margin-right: 1rem
}

.form-bottom {
    display: flex;
    justify-content: space-between
}

.upload-block {
    display: flex;
    align-items: center
}

.upload-block .input-upload {
    display: none
}

.upload-block label {
    display: inline-block;
    border: 1px solid #000;
    padding: .5rem 2rem;
    font-size: 1rem;
    user-select: none;
    border-radius: .3rem;
    cursor: pointer
}

.error-message {
    color: red;
    font-size: .8rem;
    margin-top: .3rem
}

/*# sourceMappingURL=styles.css.map */