{% extends "inc/base.html" %} 

{% block content %}
<div class="mb-4">
  <div class="left-top">
    <h2 class="header-title current-title">Question:</h2>
  </div>
  <hr class="mb-4" />

  {% include "inc/question-item.html" %}  

</div>

<div class="left-main">
  {% for answer in items %}
    {% include "inc/answer-item.html" %}  
  {% endfor %}

  <nav aria-label="...">
    <ul class="pagination">
      {% for page in items.paginator.page_range %}
        {% include "inc/page-item.html" %}
      {% endfor %}
    </ul>
  </nav>

  <form action="{% url "question" question_id=question.pk%}" method="post">
    {% csrf_token %}
    <div class="form-group mt-4">
      <label for="{{ form.text.id_for_label }}"
        ><h2 class="generic-text">Your Answer:</h2></label
      >
      <textarea
        class="form-control"
        name="{{ form.text.name }}"
        id="{{ form.text.id_for_label }}"
        rows="5"
      ></textarea>
    </div>

    {% if form.errors %}
      <div class="error-message login-error mb-2">Something wrong.</div>
    {% endif %}

    <button type="submit-new-answer" class="btn btn-success">
      Submit
    </button>
  </form>

</div>

{% endblock content %}